/*COLORS:
red: #FF0022 rgba(255,0,34,1);
orange: #FF7500 rgba(255,117,0,1);
yellow: #fff300 rgba(255,243,0,1);
green: #00FF0E rgba(0,255,14,1);
blue-light: #00faff rgba(0,250,255,1);
blue-mid: #0084FF rgba(0,132,255,1);
blue-darK: #0500FF rgba(5,0,255,1);
teal: rgba(0,246,255,1);
purple:#BB35F2 rgba(187,53,242,1);
pink: #FE2EE1 rgba(254,46,225,1);
light-grey: #EEEEEE rgba(238,238,238,1);
dark-grey: #DEDEDE rgba(222,222,222,1);
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css?family=Basic|Chelsea+Market|Fredericka+the+Great');

/*---------FOR EVERYTHING---------*/

body {
  /*font-family: 'Chelsea Market', cursive;*/
  font-family: 'Basic', sans-serif; 
  /*font-family: 'Fredericka the Great', cursive;*/
  /*margin: 0 auto;*/
}


h1 {
  font-family: 'Chelsea Market', cursive;
}

/*---------NAVIGATION---------*/

.navigation-wrapper {
  height: 100px;
  background-color: rgba(222,222,222,1);
}

.logo-small img {
  position: absolute;
  /*display: inline-block;*/
  width: 90px;
  height: 90px;
  float: left;
}

.navigation-nav {
  display: inline-block;
  width: 100%;
}

.nav-ul {
  list-style: none;
  float: right;
}


.nav-li {
  display: inline-block;
  padding: 20px 30px;
}


.nav-li a {
  font-size: 20px;
  text-decoration: none;
  font-family: 'Chelsea Market', cursive;
  /*color: rgba(187,53,242,0.8);*/
  transition: 1s;
}

.nav-li1 a {
  color: rgba(187,53,242,1);
}

.nav-li2 a {
  color: rgba(0,132,255,1);
}

.nav-li3 a {
  color: rgba(0,255,14,1);
}

.nav-li4 a {
  color: rgba(255,0,34,1);
}

.nav-li a:hover {
  color: rgba(255,117,0,1);
  text-decoration: underline;
}


/*---------FOOTER---------*/

/*.footer-wrapper {
  background-color: rgba(222,222,222,1);
  position: fixed;
  text-align: right;
  bottom: 0px;
  height: 3vh;
  width: 100%;
}*/

.footer-h2 {
  /*color: black;*/
  font-size: 1em;
  font-family: 'Chelsea Market', cursive;

}

.footer-h2 a {
  text-decoration: none;
  color: rgba(254,46,225,1);
}
.footer-h2 span {
  color: rgba(254,46,225,.6);
}


/*---------START LANDING PAGE---------*/

.start-landing-wrapper {
  padding: 40px 20px 0px 20px;
  text-align: center;
  
  /*box-shadow: 0px 20px 10px #888888;*/
}

.title {
	font-size: 5em;
	color: #000;
	text-shadow: 1px 1px 1px #000, 3px 3px 5px rgba(255,243,0,1);
	text-transform: uppercase;
}
.start-info {
  padding: 30px;
}

.main-logo img {
  width: 95%;
  padding: 20px;
}


.start-btn-div {
  padding: 10px;
  display: inline-block;
  background-color: rgba(255,243,0,1);
  align-content: center;
  text-align: center;
  box-shadow: 2px 2px 5px 6px rgba(255,117,0,1);
  border-radius: 5%;

}
.start-btn-ul {
  list-style: none;
  text-transform: uppercase;
  font-family: 'Chelsea Market', cursive;
  padding: 20px 20px 20px 20px;
  
}

.start-btn-li {
}

.start-btn-li a {
  text-decoration: none;
  color: black;
  text-align: center;
  align-content: center;
  transition: 1s;
  font-size: 1.5em;
  
}

.start-btn-li a:hover {
  font-size: 2em;

}

.start-btn-li a p {
  text-align: center;
  align-content: center;
}
/*---------EMOTION TO DO---------*/

.col-md-8 {
  width: 680px;
  height: 480px;
}

.col-md-7 {
  height: 25em;
}

.results-emotion {
  word-wrap: break-word;
}

#face_video_canvas {
  display: block;
}

#face_video {
  display: none;
}

/*---------ROUND---------*/

.round {
  background-color: rgba(222,222,222,1);
  box-shadow: 2px 2px 5px 6px rgba(222,222,222,.5);
}

.round img {
  width: 200px;
}

.emo-name {
  color: black;
  text-shadow: 1px 1px 1px #000;

}

.E0 {
  color: rgba(255,0,34,1);
  transition: 2s;
}

.E1 {
  color: rgba(0,132,255,1);
  transition: 2s;
}
.E2 {
  color: rgba(0,246,255,1);
  transition: 2s;
}
.E3 {
  color: rgba(187,53,242,1);
  transition: 2s;
}
.E4 {
  color: rgba(0,255,14,1);
  transition: 2s;
}
.E5 {
  color: rgba(255,117,0,1);
  transition: 2s;
}


/*---------CURRENT FACE---------*/
td img {
  width: 90px;
  height: 90px;
}

.emo-name {
  font-size: 1.5em;
  /*color: black;*/
  font-family: 'Chelsea Market', cursive;

}
.emo-score {
  font-family: 'Chelsea Market', cursive;
  font-size: 2em;
  /*color: black;*/
	text-shadow: 1px 1px 2px black;
  text-align: center;
  align-content: center;
}

td {
  align-content: center;
  text-align: center;
}
th {
  align-content: center;
  text-align: center;
}
.container {
  align-content: center;
  text-align: center;
}

.small-title {
  font-family: 'Chelsea Market', cursive;
	font-size: 3em;
	color: #000;
	text-shadow: 1px 1px 1px #000, 2px 2px 3px rgba(255,243,0,1);
	text-transform: uppercase;
  text-align: center;
  align-content: center;
}
.webcam-cam {
  /*border: 1px solid #ddd;*/
  /*padding: 0px;*/
}

.end-landing-wrapper {
  align-content: center;
  text-align: center;
}
@media only screen and (min-width: 999px) {

  .col-md-4 {
    width: unset;

  }
  .row {
    display: flex;
    flex-direction: column;
  }
}

.emo-title {
  display: inline-block;
  width: 80px;
  transition: 2s;
  padding: 10px;
}


.emo-title:hover {
  width: 100px;
}

/*---------MOBILE---------*/

@media only screen and (max-width: 667px) {
	h1 {
	font-size: 28px;
	}
	h2 {
	font-size: 26px;
	}
	h3 {
	font-size: 24px;
	}
	h4 {
	font-size: 18px;	
	}
	h6 {
	font-size: 18px;
	}
	p {
	font-size: 16px;
	}
	.nav {
	height: auto;
	display: block;
	}
	.logo img {
	float: none;
	display: block;
	position: relative;
	padding: 0 38%;
	}
	nav {
	display: block;	
	}
	ul {
	text-align: center;
	list-style: none;
	float: none;
	padding: 0px;
	}
	ul > li {
	display: block;
	padding: 10px 20px;
	}
	th {
	font-size: 16px;
	}
	.footer-wrapper {
	padding: 0px;
	}
  .logo-small img {
    float: none;
    display: block;
    position: relative;
    padding: 0 35%;
  }
  .navigation-nav {
    display: block;
  }
  .title {
    font-size: 2em;
  }
}
